<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <tracking>
      <dyingContactStore type="Sitecore.Support.DyingContactSessionManager, Sitecore.Support.194692">
        <param desc="configuration" ref="tracking/sharedSessionState/config" />
      </dyingContactStore>
    </tracking>
    <pipelines>
      <ensureSessionContext>
        <processor type="Sitecore.Support.EnsureContactIdForDyingContact, Sitecore.Support.194692" patch:after="processor[@type='Sitecore.Analytics.Pipelines.EnsureSessionContext.EnsureContactId, Sitecore.Analytics']" >
          <param desc="dyingContactStore" ref="tracking/dyingContactStore" />
        </processor>
      </ensureSessionContext>
      <mergeContacts>
        <processor type="Sitecore.Support.SaveDyingContactInfo, Sitecore.Support.194692">
          <param desc="dyingContactStore" ref="tracking/dyingContactStore" />
        </processor>
      </mergeContacts>
    </pipelines>
  </sitecore>
</configuration>